#body-container{
    background-color: #0d1116;
}

.option-wrapper{
    font-size: 20px;
    margin: 5px;
    margin-left: 5vw;

}

.stage{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}

.stage-icon{
    border-radius: 100%;
    background-color: green;
    width: 75px;
    height: 75px;
}

.divider{
    border: 1px solid #828282;
    width: 85vw;
    
}

.stage-wrapper{
    display: flex;
    width: 85vw;
    justify-content: space-between;
    margin-top: 5vh;
    margin-bottom: 15vh;
}

.stage-line-1{
    position: absolute;
    width: 40vw;
    height: 5px;
    background-color: green;
    left: 7.5vw;
    margin-top: 2.5vh;
}

.stage-line-2{
    position: absolute;
    width: 40vw;
    height: 5px;
    background-color: green;
    left: 47.5vw;
    margin-top: 2.5vh;
}

.options-contianer{
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    text-align: left;
    margin-top: 5vw;
}

.carbon-emissions-main{
    font-size: 36px;
    margin-top: 5px;
    color: white
}

.emissions-rating-main{
    display: flex;
    gap:15px;
    margin-top: 5px;
}

.star{
    font-size: 30px;
}

.button-unfill{

    border: none;
    background: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40vw;
    height: 30vh;
    background-color: white;
    border: 1px solid #000;
    box-shadow: 24;
    padding: 40;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.custom-styles {
  --ReactInputVerificationCode-itemWidth: 2.5rem;
  --ReactInputVerificationCode-itemHeight: 3.5rem;
}

.custom-styles .ReactInputVerificationCode__item {
  position: relative;
  color: #262626;
  font-weight: 500;
}

.custom-styles .ReactInputVerificationCode__item,
.custom-styles .ReactInputVerificationCode__item.is-active {
  box-shadow: none;
}

.custom-styles .ReactInputVerificationCode__item:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 2px;
  background-color: #ebebeb;
  transition: background-color 0.2s ease-out;
}

.custom-styles .ReactInputVerificationCode__item.is-active:after {
  background-color: #046cde;
}

.modal-header{
    font-size: 24px;
}

.checkmark{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20vw;
    height: 20vw;
    background-color: green !important;
    z-index: 100 !important;
}

.option-image{
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: static;
    
}

.company-logo{
    object-fit: contain;
    width: 100%;
    height: 100%;
    position: static;
}

.image-wrapper{
    width: 85vw;
    height: 40vh;
    margin-top: 2vh;
}

.option-good{
    border: 7px solid green;
}

.option-ok{
    border: 7px solid orange;
}

.option-bad{
    border: 7px solid red;
}