body {
  margin: 0;
  font-family: Epilogue, sans-serif;
  font-weight: 900;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: Epilogue, sans-serif;
  font-weight: 900;
}
