@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: Epilogue, sans-serif;
  font-weight: 900;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background-color: #0d1116;
}

code {
  font-family: Epilogue, sans-serif;
  font-weight: 900;
}
